@model Shopping.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account"))
{
    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <p class="message-success">@ViewBag.StatusMessage</p>
    <p>
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword)
    </p>
            
    <p>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
    </p>
          
    <p>@Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
    </p>
    <button onclick="form.submit()">Change Password</button> 
    
    
}
