@model Shopping.Models.OrderItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OrderItem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Order.OrderStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.OrderStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Inventory.InventoryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Inventory.InventoryId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemQuantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemQuantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemUnitPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemUnitPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemSubtotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemSubtotal)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OrderItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
