@model IEnumerable<Shopping.Models.OrderItem>

@{
    ViewBag.Title = "View Order Details";
}

<article id="basket">
    @Html.ActionLink("Orders", "Index", "Order", null, new { @class = "continue" })
    <h1>Orders</h1>
    <table>
        <tr class="orderh">
            <th>Order#</th>
            <th>Product Name</th>
            <th>Color</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Subtotal</th>
            
        </tr>

        @foreach (var item in Model)
        {
            <tr class="order">
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory.ParamValue.ParamValue1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory.ParamValue1.ParamValue1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemQuantity)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.ItemUnitPrice)
                </td>
                 <td>
                    $@Html.DisplayFor(modelItem => item.ItemSubtotal)
                </td>
               
            </tr>
        }

    </table>

</article>
